html,
body {
    /* remove the default cursor styles */
    cursor: none;
}
/* style the dot div to be a small circle */
#dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: aquamarine;
    border-radius: 50%;
}
/* style the outer circle to be a simple outline and not a filled in dot */
#circle {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 1px solid aquamarine;
    border-radius: 50%;
}